// Responsive desktop pour la barre de recherche
@media (min-width: 1024px) {
	.search-container {
		justify-content: center;
		margin-bottom: 2rem;
	}
	#recherche {
		min-width: 400px;
		max-width: 600px;
		font-size: 1.2rem;
		padding: 0.75rem 2rem;
	}
    .h1{
    margin-left:400px;
}
#recipes{
    margin-left: 100px;
}
}


