
$primary-color: #F5F5F5;
$text-color: #222;
$card-width: 300px;
$padding-card: 15px;
$border-radius: 10px;
$background-color:#F5F5F5;
$gap-card:10px;

$card-shadow: 0 2px 8px rgba(0,0,0,0.1);
$font-main: 'Arial, sans-serif';
$font-title: 'Helvetica, sans-serif';

$height-nav:50px;
$width-nav:300px;

